
@{
}
<form enctype="multipart/form-data" method="post" asp-action="Upload">
    <dl>
        <dt>
            <label for="File">File</label>
        </dt>
        <dd>
            <input name="File" type="file">
        </dd>
    </dl>
    <input class="btn" type="submit" value="Upload" />
</form>
